.banner-section {
    position: relative;

    .banner-text {
        color: white;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 80px;
        line-height: 100px;
        font-weight: 600;
        width: 80%;
        font-family: $primary-font;

        span {
            text-transform: uppercase;
            display: block;
            font-size: 40px;

        }
    }

    .search-box {
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, 0.479);
        padding: 20px;
        border-radius: 20px;

        form {
            background-color: white;
            border-radius: 10px;
            display: flex;

            input,
            select {
                border: none;
                padding: 20px;
                width: 300px;
                border-right: 1px solid rgb(142, 142, 142);

            }

            button {
                background-color: $primary-color;
                color: white;
                font-family: $primary-font;
                border: none;
                padding: 20px;
                width: 200px;
            }
        }
    }
}

.about-us {
    figure {
        height: 600px;
        width: fit-content;
    }

    .custom-btn {
        margin-top: 40px;
    }
}

.features {
    padding: 100px 0px;
    background-image: url("../images/feature_bg.jpeg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        .feature-items {
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;

            .icon {
                height: 50px;
                width: 50px;
                background-color: white;
            }

            p {
                font-family: $secondary-font;
                color: gray;
                line-height: 24px;
            }
        }
    }

}


.popular-tour-packages {
    .packages-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        .packages-card {
            border-radius: 10px;
            overflow: hidden;
            position: relative;

            &::before {
                content: "";
                height: 100%;
                width: 100%;
                background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.577));
                position: absolute;
                top: 0;
                left: 0;
                display: none;
            }

            img {
                height: 450px;
            }

            .hover-content {
                padding: 30px;
                position: absolute;
                bottom: 0;
                color: white;
                display: none;

                .tour-title {
                    font-family: $primary-font;
                    font-size: 20px;
                    margin-bottom: 10px;
                }

            }
            &:hover{
                &::before{
                    display: block;
                }
                .hover-content{
                    display: block;
                }
            }
        }
    }
}

.funfact{
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        figure{
            position: relative;
            &::before{
                content: "";
                position: absolute;
                height: 93%;
                width: 60vw;
                right: -20px;
                bottom: 0;
                background-color: $primary-color;
                opacity: 0.5;
                border-radius: 0 320px 320px 0;
                z-index: -1;
            }
            .shapes{
                position: absolute;
                top: 0px;
                left: -100px;
                width: 60vw;
            }
        }
    }
}

.destination-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    .destination-card{
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        &:nth-child(2){
            grid-column: span 2;
        }

        img{
            transition: 0.5s;

        }
        .destination-details{
            position: absolute;
            bottom: 0;
            padding: 50px;
            color: white;
            .title{
                font-size: 30px;
                font-family: $primary-font;
                line-height: 40px;
            }
        }
        &:hover{
            img{
                transform: scale(1.2);
            }
        }
    }
}